{% load static %}
<html lang="en">
    <head>
        <!-- the css links -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <!-- site title -->
    <title></title>
 
    <body>
        <!-- page container -->
        <div id="container">
            <!-- the header -->
            <h1>Sorter!</h1>
            
            <!-- the list upload section -->
            <div id="input-section">
                
                <form action="">
                    <label>List Input:</label><br>

                    <input type="text" placeholder="Type list here [1, 2, 3, 4]">
                    <input type="submit" value="upload">
                </form>
            </div>

            <!-- list gui representation -->
            <div id="list-section">
                <div id="list">

                </div>
            </div>
            
        </div>
    
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>