{% load static %}
<html lang="en">
    <head>
        <!-- the css links -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <!-- site title -->
    <title></title>
 
    <body>
        <!-- page container -->
        <div id="container">
            <!-- the header -->
            <h1>Sorter!</h1>
            
            <!-- the list upload section -->
            <div id="input-section">
                
                <form>
                    <label>List Input:</label><br>

                    <input type="text" placeholder="Type list here 1 21 34 4" id="input_list">
                    <input type="button" value="upload" onclick="upload()">
                </form>
            </div>

            <!-- list gui representation -->
            <div id="list-section">
                <div id="list">

                </div>
                <br>
                <br>

                <form method="POST">{% csrf_token %}
                    <input type="hidden" name="list" id="hidden_list">
                    <input type="submit" value="Sort Now">
                </form>
            </div>

            

            
        </div>
    
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>